/*specifications*/
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 300;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Light.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 400;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Regular.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 500;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Medium.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 700;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Bold.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 900;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Black.ttf);
}
html{
	font-family: Designio;
	font-weight: 400;
	font-size: 16px;
	color: #ffffffff;
	cursor: url(../img//technical/cursor.png), default;
}
a{
	cursor: url(../img//technical/cursor.png), pointer;
	color:#fff080ff;
	font-weight: 900;
	text-shadow:0 0 15px #fff080ff;
	transition-duration: 250ms;
}
.jtext{
	font-family: ZenMaruGothic;
}
small{
	font-size: smaller;
}
/*tags*/
body{
	background-color: #000000ff;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
	background-size: contain;
	
	scroll-behavior: smooth;
	color: #ffffffff;
}
header, footer, main{
	width: calc(100% - 20px);
	box-sizing: border-box;
	padding: 10px;
}
header, footer{
	margin: 0 10px;
	background-color: #c0000060;
}
header{
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	border-radius: 0 0 20px 20px;
	height: 90px;
}
header>div{
	text-align: center;
}
main{
	display: flex;
	margin: 100px 10px 50px;
}
footer{
	bottom: 0;
	height: 45px;
	border-radius: 20px 20px 0 0;
	font-size: 100%;
	font-weight: 700;
}
footer>div{
	height: 100%;
	width: 100%;
	padding: 0 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*classes*/
.blur{
	backdrop-filter: blur(5px);
}
.flex{
	display: flex;
}
.flexcol{
	flex-direction: column;
}
.snblock{
	height:100%;
	align-items: center;
}
.snlink{
	display: block;
	position: relative;
	height:100%;
}
.snlink>*{
	height: 100%;
}

/*IDs*/
#nopage{
	background-image: none;
	color: #ffffffff;
}
#landingPage{
	display: flex;
	min-height: calc(100vh - 150px);
	margin: 100px 10px 10px;
	border-radius: 20px;
	font-size: 5rem;
	text-align: center;
	text-transform:uppercase;
	flex-direction: column;
	justify-content: space-around;
	background-color: #c0000060;
	color: #ffc00080;
}
#landingPage>*{
	width: 100%;
	font-size: 7vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#landingPage div{
	animation: animate 3s linear infinite;
	height:fit-content
}
#landingPage div>*{
	animation: animate 3s linear infinite;
	height:100%;
}
#fourOfour{
	font-size: 40vw;
}
@keyframes animate {
	0%,100% {
		color:#fff08040;
		text-shadow:none;
	}
	15%,85% {
		color:#fff08080;
		text-shadow:none;
		text-shadow:0 0 5px #ffc00040;
	}
	50% {
		color:#fff080ff;
		text-shadow:0 0 5px #ffc000ff,
						0 0 15px #ffc000ff,
						0 0 35px #ffc000a0,
						0 0 75px #ffc00080;
	}
}
@media screen and (min-width:768px){
	a{
		cursor: url(../img//technical/cursor.png), pointer;
		color:#ffc00080;
		transition-duration: 1000ms;
		font-weight: 400;
		text-shadow:none;
	}
	a:hover{
		color:#fff080ff;
		font-weight: 900;
		text-shadow:0 0 15px #fff080ff;
		transition-duration: 250ms;
	}
	#landingPage>*{
		font-size: 4vw;
	}
	#fourOfour{
		font-size: 20vw;
	}
	.on{
		display: none;
	}
	.off:hover~.on, .on:hover{
		display: block;
	}
}