/*specifications*/
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 300;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Light.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 400;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Regular.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 500;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Medium.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 700;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Bold.ttf);
}
@font-face {
	font-family: ZenMaruGothic;
	font-weight: 900;
	src: url(../fonts/ZenMaruGothic/ZenMaruGothic-Black.ttf);
}
/*tags*/
html {
	font-family: Designio;
	font-weight: 400;
	color: #ffffffff;
	cursor: url(../img/technical/cursor.svg), default;
}
body {
	cursor: url(../img/technical/cursor.svg), default;
	background-color: #000000ff;
	background-image: url(../img/technical/logo.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
	background-size: contain;
	scroll-behavior: smooth;
	color: #ffffffff;
}
a,
header a,
footer a {
	cursor: url(../img/technical/cursor.svg), pointer;
	color: #fff080ff;
	font-weight: 900;
	text-shadow: 0 0 15px #fff080ff;
	transition-duration: 250ms;
}
small {
	font-size: smaller;
}
header,
footer,
main {
	width: calc(100% - 20px);
	box-sizing: border-box;
	padding: 10px;
}
header,
footer {
	margin: 0 10px;
}
header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 20px 20px;
	height: 90px;
	font-size: 2rem;
	z-index: 99;
}
header>div {
	text-align: center;
}
main {
	margin: 100px 10px 70px;
}
h1 {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	padding: 0.5rem;
}
h2 {
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.5rem;
}
h3 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.25rem;
}
h4 {
	font-size: 1.75rem;
	font-weight: 700;
	padding: 0.125rem;
}
h5 {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.0625rem;
}
h6 {
	font-size: 1.25rem;
	font-weight: 700;
}
footer {
	position: fixed;
	bottom: 0;
	height: 65px;
	border-radius: 20px 20px 0 0;
	font-size: 1.5rem;
	font-weight: 700;
}
footer>div {
	height: 100%;
	width: 100%;
	padding: 0 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav>ul>li {
	position: relative;
}
i {
	font-style: italic;
}
input {
	border: none;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 0.5rem;
	font-family: Designio;
	font-size: 1rem;
}
input[type="text"] {
	background-color: #ffffff20;
}
input[type="submit"] {
	background-color: #ffffff40;
	text-align: center;
}

/*classes*/
.jtext {
	font-family: ZenMaruGothic;
}
.vertext {
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.blackblur {
	background-color: #00000060;
	backdrop-filter: blur(10px);
}
.darkblackblur {
	background-color: #000000a0;
	backdrop-filter: blur(10px);
}
.redblur {
	background-color: #c0000060;
	backdrop-filter: blur(10px);
}
.darkredblur {
	background-color: #800000a0;
	backdrop-filter: blur(10px);
}
.blur {
	backdrop-filter: blur(10px);
}
.blink {
	animation: blink 2s linear infinite;
}
.blinklong {
	animation: blinklong 5s linear infinite;
}
.blinklongalt1 {
	animation: blinklongalt1 5s linear infinite;
}
.blinklongalt2 {
	animation: blinklongalt2 5s linear infinite;
}
.blinklongalt2textgold {
	animation: blinklongalt2textgold 5s linear infinite;
}
.hover {
	position: relative;
	display: flex;
	align-items: center;
	height: fit-content;
}
.hoveroff,
.hoveron {
	position: absolute;
	left: 0;
	top: 0;
}
.hoveron {
	display: none;
	transition-duration: 2000ms;
}
.hoveroff:hover~.hoveron,
.hoveron:hover {
	display: block;
	transition-duration: 2000ms;
}
.flex {
	display: flex;
}
.flexcol {
	flex-direction: column;
}
.flexrow {
	flex-direction: row;
}
.even {
	width: 100%;
	justify-content: space-evenly;
}
.margintop {
	margin: 10px 0 0;
}
.sublist {
	display: none;
	position: absolute;
	width: 180px;
	box-sizing: border-box;
	border-radius: 0 0 20px 20px;
	justify-content: right;
	padding-bottom: 0.5rem;
}
.sublisthead:hover>.sublist,
.sublist:hover {
	display: flex;
	flex-direction: column;
	position: absolute;
}
.sublistitem {
	display: block;
	width: 80%;
	margin: auto;
}
.snblock {
	height: 100%;
	align-items: center;
}
.snlink {
	display: block;
	position: relative;
	height: 100%;
	width: 45px;
	margin: 0 2px;
}
.snlink>* {
	height: 100%;
}
.snlink img {
	position: absolute;
}
.langicon {
	height: 70px;
}
.nodisp {
	display: none;
}
.box {
	display: flex;
	flex-direction: column;
	width: 20%;
	justify-content: center;
	text-align: center;
	padding: 1rem;
	box-sizing: border-box;
	align-self: flex-start;
}
.box>.fullarms {
	max-width: 100%;
	max-height: 300px;
	margin: auto;
}
.box>.escutcheon {
	max-width: 60%;
	max-height: 200px;
	margin: auto;
}
.box>span {
	padding: 0.5rem 0 0;
	font-size: 1.5rem;
	font-weight: 100;
}
.fullwidth {
	width: 100%;
}
.halfwidth {
	width: 50%;
}
.gules {
	color: #ffa0a0ff;
	font-weight: 900;
	text-shadow: 0 0 5px #ff0808ff, 0 0 15px #ff0808ff;
}
.azure {
	color: #a0c0ffff;
	font-weight: 900;
	text-shadow: 0 0 5px #0860ffff, 0 0 15px #0860ffff;
}
.sable {
	color: #000000ff;
	font-weight: 900;
	text-shadow: 0 0 5px #ffffffff, 0 0 15px #ffffffff;
}
.vert {
	color: #a0ffa0ff;
	font-weight: 900;
	text-shadow: 0 0 5px #40ff40ff, 0 0 15px #40ff40ff;
}
.purpure {
	color: #ffc0ffff;
	font-weight: 900;
	text-shadow: 0 0 5px #ff60ffff, 0 0 15px #ff60ffff;
}
.sanguine {
	color: #e08080ff;
	font-weight: 900;
	text-shadow: 0 0 5px #ff0808c0, 0 0 15px #ff0808c0;
}
.tawny {
	color: #ffd8a0e0;
	font-weight: 900;
	text-shadow: 0 0 5px #ffc008c0, 0 0 15px #ffc008c0;
}
.orange {
	color: #ffc0a0ff;
	font-weight: 900;
	text-shadow: 0 0 5px #ff8008ff, 0 0 15px #ff8008ff;
}
.steel {
	color: #c0c0c0ff;
	font-weight: 900;
	text-shadow: 0 0 5px #a0a0a0ff, 0 0 15px #a0a0a0ff;
}
.murrey {
	color: #e080c0ff;
	font-weight: 900;
	text-shadow: 0 0 5px #a03080ff, 0 0 15px #a03080ff;
}
.or {
	color: #ffe0c0ff;
	font-weight: 900;
	text-shadow: 0 0 5px #ffc000ff, 0 0 15px #ffc000ff;
}
.argent {
	color: #ffffffff;
	font-weight: 900;
	text-shadow: 0 0 5px #ffffffc0, 0 0 15px #ffffffc0;
}
.explainations {
	font-size: 1.25rem;
}

/*IDs*/
#starter {
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	position: sticky;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	font-size: 1.5rem;
	height: calc(100vh - 85px);
}
#starter>div {
	justify-self: center;
	margin: auto;
	color: #fffc8080;
	font-size: 9vw;
	font-weight: 200;
	transition-duration: 750ms;
}
#starter>div:active {
	color: #fffc80ff;
	font-weight: 900;
	text-shadow: #ffc000ff 0 0 7px;
	transition-duration: 500ms;
}
#logo {
	display: block;
	height: 100%;
	margin-left: 10px;
}
#logo>img {
	height: 100%;
}
#nopage {
	background-image: none;
	color: #ffffffff;
}
#defaultpage,
#workpage {
	height: calc(100vh - 175px);
	margin: 100px 10px 10px;
	border-radius: 20px;
	color: #ffc00080;
}
#defaultpage {
	display: flex;
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: space-around;
}
#defaultpage>* {
	width: 100%;
	font-size: 7vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#defaultpage div {
	animation: animate 3s linear infinite;
	height: fit-content;
}
#defaultpage div>* {
	animation: animate 3s linear infinite;
	height: 100%;
}
#workpage {
	position: relative;
	backdrop-filter: blur(10px);
}
#workpage>* {
	position: absolute;
	max-height: 99%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
#workpage>p {
	display: inline-block;
	width: fit-content;
	height: fit-content;
	text-align: center;
	padding: auto;
	text-transform: uppercase;
	font-size: 5rem;
	word-wrap: none;
}
#fourOfour {
	font-size: 40vw;
}
#landingpage {
	display: flex;
	min-height: calc(100vh - 85px);
	margin: 10px;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	flex-direction: column;
	justify-content: space-evenly;
	color: #ffc00080;
	font-size: 7vw;
}
#langmenu {
	right: 0;
	display: flex;
	width: 140px;
	justify-content: space-between;
}
#mail {
	height: 500px;
}
@keyframes animate {
	0%,
	100% {
		color: #fff08040;
		text-shadow: none;
	}
	15%,
	85% {
		color: #fff08080;
		text-shadow: 0 0 5px #ffc00040;
	}
	50% {
		color: #fff080ff;
		text-shadow: 0 0 5px #ffc000ff,
			0 0 15px #ffc000ff,
			0 0 35px #ffc000a0,
			0 0 75px #ffc00080;
	}
}
@keyframes blink {
	0%,
	100% {
		opacity: 0;
	}
	15%,
	85% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}
@keyframes blinklong {
	0%,
	5%,
	95%,
	100% {
		opacity: 0;
	}
	25%,
	75% {
		opacity: 0.5;
	}
	40%,
	60% {
		opacity: 1;
	}
}
@keyframes blinklongalt1 {
	0%,
	10%,
	100% {
		opacity: 1;
	}
	30%,
	80% {
		opacity: 0.5;
	}
	50%,
	60% {
		opacity: 0;
	}
}
@keyframes blinklongalt2 {
	0%,
	10% {
		opacity: 0;
	}
	30%,
	80% {
		opacity: 0.5;
	}
	50%,
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes blinklongalt2textgold {
	0%,
	12%,
	100% {
		font-weight: 600;
		color: #fff08000;
		text-shadow: none;
	}
	28%,
	82% {
		color: #fff08080;
		text-shadow: 0 0 5px #ffc00040;
	}
	51%,
	59% {
		color: #fff080ff;
		text-shadow: 0 0 5px #ffc000ff,
			0 0 15px #ffc000ff,
			0 0 35px #ffc000a0,
			0 0 75px #ffc00080;
	}
}
@media screen and (min-width:768px) {
	header a,
	footer a {
		color: #ffc00080;
		transition-duration: 1000ms;
		font-weight: 400;
		text-shadow: none;
	}
	header a:hover,
	footer a:hover {
		color: #fff080ff;
		font-weight: 900;
		text-shadow: 0 0 15px #fff080ff;
		transition-duration: 250ms;
	}
	a {
		color: #ffc000a0;
		transition-duration: 750ms;
		font-weight: 400;
		text-shadow: none;
	}
	a:hover {
		color: #fff080ff;
		font-weight: 900;
		text-shadow: 0 0 15px #fff080ff;
		transition-duration: 250ms;
	}
	#landingPage>* {
		font-size: 4vw;
	}
	#fourOfour {
		font-size: 20vw;
	}
	#active {
		color: #ffa0a0ff;
		font-weight: 400;
		text-shadow: 0 0 15px #ff0000ff;
	}
	.on {
		opacity: 0;
		transition-duration: 1000ms;
	}
	.off:hover~.on,
	.on:hover {
		opacity: 100%;
		transition-duration: 500ms;
	}
}